body {
	background-color: #eee;
}

.carousel {

}

.carousel img {
	width: 100%;
}

.carousel .carousel-inner {
	max-height: 400px;
}


.carousel .carousel-caption {
	top: 100px;
}

.movieCard {
	background-color: #fff;	
	margin: 50px 10px;
	box-shadow: 3px 3px 10px #ccc;
	transition: all .5s;
}

.movieCard:hover {
	box-shadow: 9px 9px 20px #aaa;
}